

    <div class="main-box">
        <div class="container">
            <div class="icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <h4 class="payment-titlte">Thanh toán thành công!</h4>
            <p>Nếu có bất kỳ câu hỏi nào, hãy gửi email tới <a href="dinhnguyenuhth@gmail.com">2h&v.vn</a></p>
            <a href="/" id="return-page-btn">Tiếp tục mua hàng</a>
        </div>
    </div>

