<!DOCTYPE html>
<html lang="en">

<head>
    <title>2H&V SHOP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/templatemo.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <!--

    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {

                        <a class="navbar-sm-brand text-light text-decoration-none" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                        <span class="mx-2">|</span>
                        <a class="navbar-sm-brand text-light text-decoration-none" asp-area="Identity" asp-page="/Account/Logout">
                            <i class="fa fa-sign-out-alt mr-1"></i> Logout
                        </a>

                    }

                    @if (User.IsInRole("Admin"))
                    {

                        <a class="navbar-sm-brand text-light text-decoration-none" asp-area="Admin" asp-controller="ProductManager" asp-action="Index">
                            <span class="mx-2">|</span>
                            <i class="fas fa-user-shield"></i> 
                        </a>

                    }
                   
                </div>

                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="~/Home/Index">
                2H&V
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/About">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Product/Index">Shop</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Contact">Kết nối</a>
                        </li>

                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    
                    
                    @{
                        if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <a class="nav-icon position-relative text-decoration-none" href="@Url.Action("Index", "GioHang")">
                                <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                            </a>
                        }
                        else
                        {
                            <a class="nav-icon position-relative text-decoration-none" href="@Url.Action("Login", "Account", new { area = "Identity" })">
                                <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                            </a>
                        }
                    }

                    <a class="nav-icon position-relative text-decoration-none" href="/Identity/Account/Login">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>

                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->
    @RenderBody()
    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="container">
                    <div class="row">

                        <div class="col-md-4 pt-5">
                            <h2 class="h2 text-success border-bottom pb-3 border-light logo">2H&V Mobile</h2>
                            <ul class="list-unstyled text-light footer-link-list">
                                <li>2H&V Mobile đang là một trong những hệ thống phân phối smartphone quốc tế và chính hãng lớn nhất tại TP.HCM. Với uy tín và kinh nghiệm lâu năm, dịch vụ chuyên nghiệp giúp khách hàng trên toàn lãnh thổ Việt Nam dễ dàng mua sắm các sản phẩm trực tuyến.</li>
                                <li>
                                    <i class="fas fa-map-marker-alt fa-fw"></i>
                                    123 Tân Phú, quận 9, TP.HCM
                                    <a href="https://maps.app.goo.gl/mevj63mbdgnhCAD28" target="_blank" style="color: red;">Xem bản đồ</a>
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt fa-fw"></i>
                                    123 Điện Biên Phủ, phường 26, quận Bình Thạnh, TP.HCM
                                    <a href="https://maps.app.goo.gl/Rq3PTLGV6HWCBbWP9" target="_blank" style="color: red;">Xem bản đồ</a>
                                </li>
                                <li>
                                    <i class="fa fa-phone fa-fw"></i>
                                    <a class="text-decoration-none" href="tel:0362-190-941">0362-190-941</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope fa-fw"></i>
                                    <a class="text-decoration-none" href="mailto:nguyendangtanhung11@gmail.com">nguyendangtanhung11@gmail.com</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 pt-5">
                            <h2 class="h2 text-light border-bottom pb-3 border-light">Tìm kiếm hàng đầu</h2>
                            <ul class="list-unstyled text-light footer-link-list">
                                <li><a class="text-decoration-none" href="#">Iphone 15 Pro Max</a></li>
                                <li><a class="text-decoration-none" href="#">Iphone 15 Pro</a></li>
                                <li><a class="text-decoration-none" href="#">Iphone 15 Plus</a></li>
                                <li><a class="text-decoration-none" href="#">Iphone 14 Pro Max</a></li>
                                <li><a class="text-decoration-none" href="#">Iphone 14 Pro</a></li>
                                <li><a class="text-decoration-none" href="#">Iphone 14 Plus</a></li>
                                <li><a class="text-decoration-none" href="#">Iphone 14</a></li>
                                <li><a class="text-decoration-none" href="#">Iphone 13 Pro Max</a></li>
                                <li><a class="text-decoration-none" href="#">Iphone 13 Pro</a></li>
                                <li><a class="text-decoration-none" href="#">Iphone 13</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-2 pt-4">
                            <h2 class="h2 text-light border-bottom pb-3 border-light">Thông tin và chính sách</h2>
                            <ul class="list-unstyled text-light footer-link-list">
                                <li><a class="text-decoration-none" href="#">Giới thiệu công ty</a></li>
                                <li><a class="text-decoration-none" href="#">Chính sách bảo mật</a></li>
                                <li><a class="text-decoration-none" href="#">Chính sách bảo hành</a></li>
                                <li><a class="text-decoration-none" href="#">Chính sách đổi trả</a></li>
                                <li><a class="text-decoration-none" href="#">Giao hàng & Thanh toán</a></li>
                            </ul>

                            <h2 class="h2 text-light border-bottom pb-3 border-light">Hỗ trợ khách hàng</h2>
                            <ul class="list-unstyled text-light footer-link-list">
                                <li><a class="text-decoration-none" href="#">Mua trả góp 0%</a></li>
                                <li><a class="text-decoration-none" href="#">Thu cũ đổi mới</a></li>
                                <li><a class="text-decoration-none" href="#">Hướng dẫn khiếu nại</a></li>
                                <li><a class="text-decoration-none" href="#">Câu hỏi thường gặp</a></li>
                                <li><a class="text-decoration-none" href="#">Dịch vụ sửa chữa</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3 pt-4">
                            <h2 class="h2 text-light border-bottom pb-3 border-light">Tổng đài hỗ trợ</h2>
                            <ul class="list-unstyled text-light footer-link-list">
                                <li><a class="text-decoration-none" href="#"><strong>(+84) 0362190941</strong> (Zalo)</a></li>
                                <li><a class="text-decoration-none" href="#"><strong>(+84) 0362190942</strong> (Zalo)</a></li>
                                <li><a class="text-decoration-none" href="#"><strong>(+84) 0362190943</strong> (Zalo)</a></li>
                                <li><a class="text-decoration-none" href="#"><strong>(+84) 0362190944</strong> (Zalo)</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="row text-light mb-4">
                        <div class="col-12 mb-3">
                            <div class="w-100 my-3 border-top border-light"></div>
                        </div>
                        <div class="col-auto me-auto">
                            <ul class="list-inline text-left footer-icons">
                                <li class="list-inline-item border border-light rounded-circle text-center">
                                    <a class="text-light text-decoration-none" target="_blank" href="https://www.facebook.com/CellphoneSVietnam"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                                </li>
                                <li class="list-inline-item border border-light rounded-circle text-center">
                                    <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/cellphonesvn/?hl=vi"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                                </li>
                                <li class="list-inline-item border border-light rounded-circle text-center">
                                    <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/CellphoneSvn"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                                </li>
                                <li class="list-inline-item border border-light rounded-circle text-center">
                                    <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="w-100 bg-black py-3">
                    <div class="container">
                        <div class="row pt-2">
                            <div class="col-12">
                                <p class="text-left text-light">
                                    Copyright &copy; 2024 Company Name
                                    | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">By Team 2H&V</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


    </footer>
    <!-- End Footer -->
    <!-- Start Script -->
    <script src="~/assets/js/jquery-1.11.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/templatemo.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <!-- End Script -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




