@model GioHangViewModel

<h1 class="text-center">Chi tiết thanh toán</h1>
<div class="container">
    <p>Thông tin hóa đơn đã được ghi nhận.</p>
    <a asp-action="Index" class="btn btn-primary">Trở về trang danh sách sản phẩm</a>
</div>
